@font-face {
    font-family: 'ionicons';
    src: font-url('/assets/ionicons.eot');
    src: font-url('/assets/ionicons.eot?#iefix') format('embedded-opentype'),
        font-url('/assets/ionicons.ttf') format('truetype'),
        font-url('/assets/ionicons.woff') format('woff'),
        font-url('/assets/ionicons.svg#akagithin') format('svg');
    font-weight: normal;
    font-style: normal;
}
