@font-face {
    font-family: 'ionicons';
    src: asset_url('fonts/ionicons.eot');
    src: asset_url('fonts/ionicons.eot?#iefix') format('embedded-opentype'),
         asset_url('fonts/ionicons.woff') format('woff'),
         asset_url('fonts/ionicons.ttf') format('truetype'),
         asset_url('fonts/ionicons.svg#akagithin') format('svg');
    font-weight: 300;
    font-style: normal;
}
