.m-l-sm {
    margin-left: 5px;
}
.m-l-m {
    margin-left: 10px;
}
.m-l-lg {
    margin-left: 12px;
}
.m-r-sm {
    margin-left: 5px;
}
.m-r-m {
    margin-left: 10px;
}
.m-r-lg {
    margin-left: 15px;
}
