<!-- Footer -->
<div class="footer">
    <div class="footer-pri">            <!-- Primary Footer -->
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="footer-box about-box">
                        <%= image_tag("logo.png", alt:"")%>         <!-- Replace woth your logo -->
                        <br/><br/>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="footer-box links-box">
                        <h5 class="heading">Quick Links</h5>
                        <ul>
                            <li><a href="">About the product</a></li>
                            <li><a href="">Usage Policies</a></li>
                            <li><a href="">How it works</a></li>
                            <li><a href="">Locate store</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="footer-box social-box">
                        <h5 class="heading">Talk to us</h5>
                        <ul class="contact">
                            <li>+00 987654321</li>
                            <li>support@wwsthemes.com</li>
                        </ul>
                        <hr/>
                        <ul class="social">
                            <li><a href=""><i class="ion-social-facebook"></i></a></li>
                            <li><a href=""><i class="ion-social-twitter"></i></a></li>
                            <li><a href=""><i class="ion-social-googleplus"></i></a></li>
                            <li><a href=""><i class="ion-social-github"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-sec">            <!-- Secondary Footer -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <span class="copyright">&copy; 2017. All rights reserved</span>
                </div>
            </div>
        </div>
    </div>
</div>
